@font-face {
  font-family: 'Death Ledger';
  src: url('./DeathLedger-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Death Ledger';
  src: url('./DeathLedger-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Death Ledger';
  src: url('./DeathLedger-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Death Ledger';
  src: url('./DeathLedger-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
